[Desktop Entry]
Name=CutePad
GenericName=Text Editor
Comment=Lightweight Qt text editor
Exec=cutepad %F
Icon=accessories-text-editor
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Qt;Utility;TextEditor;
X-KDE-StartupNotify=false;
Keywords=Text;Editor;Plaintext;
